.card
	.card-heading
		small G1234567K
		h1	Nirmala Tri Yi Wen
	.card-body.clearfix
		.left-column
			.important-dates
				dl
					dt Work permit expiry
					dd 13 Feb 2015
				dl
					dt Next medical due
					dd 31 Dec 2014
			.identity-documents
				h3 Identity documents
				.document
				dl
					dt Document type
					dd Passport
				dl
					dt Country of issue
					dd Malaysia
				dl
					dt Document expiry
					dd 13 Feb 2015
				dl
					dt Document number
					dd ML695091878-10
			.insurance
				h3 Security bond and insurance
				dl
					dt Insurer
					dd Allianz Singapore Limited
				dl
					dt Policy number
					dd AXS546879108295-587691
				dl
					dt Policy expiry
					dd 13 Feb 2015
		.sidebar
			h3 Your options
			ul
				li
					a(href='cancel-todo') Cancel work permit
					p You need to cancel your helper's work permit if she no longer works for you.
				li
					a(href='renew-todo') Renew work permit
					p You must renew your helper's work permit before it expires.
