@import "reset.scss";
@import "colors.scss";
@import "typography.scss";
@import "layout.scss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: $background;
  color: $body-text;
  text-rendering: optimizeLegibility;
}
p {
  margin: 0 0 1em 0;
  padding: 0;
  line-height: 1.2em;
  &:last-of-type {
    margin: 0;
  }
}
a {
  color: $primary-blue;
  text-decoration: none;
  &:hover{
    color: lighten($primary-blue, 10%);
    text-decoration: underline;
  }
}
h1 {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  // text-transform: uppercase;
  & + p {
    margin-top: 1em;
  }
}
small {
  font-size: 0.85em;
  color: $dark-gray;
  & + p {
    margin-top: 1em;
  }
}
#main-wrapper {
  min-height: 100%;
  padding: 0 0 5em;
  position: relative;
}
.switch-wrapper {
  font-size: 0.9em;
  background-color: $light-gray;
  font-weight: normal;
  min-height: 50px;
  a {
    color: $primary-blue;
    text-decoration: none;
    display: inline-block;
    &.active {
      color: $body-text;
      font-weight: bold;
    }
    &:hover {
      color: $body-text;
    }
  }
}
.hats {
  float: left;
  display: inline-block;
  a {
    margin-right: 2em;
    line-height: 50px;
  }
}
.account-actions {
  float: right;
  display: inline-block;
  line-height: 50px;
  a {
    margin-left: 1em;
  }
}
.topbar {
  display: block;
  text-align: left;
  padding: 10px 0;
  text-align: center;
  position: relative;
  z-index: 12;
  background: $white;
  height: 60px;
}
.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}
.clearfix:after {
    content: ' ';
    display: table;
    clear: both;
}
.mom-logo {
  float: left;
  display: inline-block;
  text-indent: -2000em;
  width: 130px;
  background: url(../assets/mom-logo-color.svg);
  background-repeat: no-repeat;
  background-size: auto 60px;
  height: 60px;
}
.gov-logo {
  display: block;
  float: right;
  background: url(../assets/sing-gov.svg) top left no-repeat;
  background-size: cover;
  width: 194px;
  height: 26px;
  background-size: cover;
  text-indent: -2000em;
  margin: 16px 0 0 0;
}
.menu-wrapper {
  background: $light-gray;
  position: relative;
  z-index: 12;
  font-weight: normal;
  line-height: 1em;
  a {
    display: inline-block;
    padding: 1em 0;
    color: $body-text;
    text-decoration: none;
    margin-right: 2em;
    &.active {
      font-weight: bold;
      border-bottom: 2px solid $primary-blue;
    }
    &.right {
      float: right;
      margin-right: 0em;
    }
    &:hover {
      color: $primary-blue;
    }
  }
}
.main-content {
  width: 1024px;
  margin: 2em auto;
}
.level-up {
  font-size: 0.9em;
  &:before {
    font-family: icomoon;
    content: 'Óù•';
    display: inline-block;
    width: 2.79em; // 2em / 0.8em / 0.9em
    text-align: center;
    font-size: 0.8em;
  }
}
.card {
  margin: 1em auto;
  background-color: $white;
  box-shadow: 0px 1px 3px $middle-gray;
  .card-heading {
    padding: 1em 2em;
    border-collapse: collapse;
    background-color: $light-gray;
    + .card-nav {
      margin-top: -1em;
    }
  }
  .card-nav {
    font-size: 0.9em;
    padding: 0 2.23em;
    border-collapse: collapse;
    background-color: $light-gray;
    line-height: 1em;
    ul {
      margin: 0;
      padding: 0;
      li {
        float: left;
        cursor: pointer;
        margin: 0 2em 0 0;
        padding: 1em 0;
        display: inline-block;
        font-weight: normal;
        &.active {
          font-weight: bold;
          border-bottom: 2px solid $primary-blue;
        }
        &.last {
          float: right;
          margin: 0 0 0 2em;
        }
        &:hover {
          color: $primary-blue;
        }
      }
    }
  }
  .card-body {
    padding: 2em;
    background-color: $white;
  }
}
.centered {
  text-align: center;
}
.narrow {
  padding: 0 4em;
  width: 50%;
}
.icon-success:before {
  content: '';
  line-height: 4em;
  display: inline-block;
  width: 4em;
  height: 4em;
  color: $white;
  background-color: $success;
  border-radius: 2em;
}
.left-column {
  float: left;
  display: inline-block;
  width: 74%;
}

.sidebar {
  padding: 1em;
  display: inline-block;
  float: right;
  width: 20%;
  background-color: yellow;
  border: 5px dotted red;
  a {
    text-decoration: underline;
  }
  ul {
    li {
      margin-bottom: 1em;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
dl {
  margin-bottom: 1em;
  &:last-of-type {
    margin-bottom: 0;
  }
  dt {
    text-transform: uppercase;
    font-size: 0.85em;
    color: $dark-gray;
    float: left;
    width: 30%;
    line-height: 1.8em;
  }
  dd {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.2em;
  }
}

.identity-documents, .insurance {
  h3 {
    margin: 1em 0;
  }
}
.tiles {
  a {
    color: $body-text;
  }
  text-align: center;
  .tile {
    padding: 1em;
    display: inline-block;
    width: 30%;
    margin-right: 1em;
    text-align: center;
  }
}

.icon-enquiries, .icon-domestic {
  display: block;
  width: 6em;
  height: 6em;
  background-color: $primary-blue;
  border-radius: 6em;
  margin: 0 auto 1.5em auto;
}
.light {
  font-weight: 300;
}
.footer {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  color: $middle-gray;
  font-size: 0.85em;
  background-color: $body-text;
  font-weight: 300;
  padding-bottom: 3em;
  span {
    margin-right: 2em;
  }
  a {
    color: $middle-gray;
    text-decoration: none;
    display: inline-block;
    margin-right: 2em;
    padding: 0.6em 0;
    font-weight: normal;
    &:hover {
      color: $white;
    }
  }
}
