#main-wrapper
  include partials/_switcher
  include partials/_topbar
  include partials/_menubar
  include partials/_helper-profile

  .main-content
    include partials/_breadcrumb

  +helper-profile

  include partials/_footer
