include partials/_switcher
include partials/_topbar
include partials/_menubar

.main-content
  include partials/_breadcrumb
  include partials/_levy
  include partials/_levy
  include partials/_levy

include partials/_footer
