#main-wrapper
  include partials/_topbar
  include partials/_menubar
  include partials/_helper-profile

  +menubar-mom-domestic

  .main-content
    .card
      .card-body Helper dashboard
  
  include partials/_footer
