#main-wrapper

  include partials/_topbar
  include partials/_menubar
  include partials/_helper-profile

  +menubar-mom

  .main-content
    .card
      .card-body Search
  
  include partials/_footer
